.app-map__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    ._title {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 28px;
        span {
            white-space: nowrap;
            font-family: 'WindSong', cursive;
            text-transform: lowercase;
            display: inline-block;
            margin-right: 10px;
        }
    }

    ._info {
        margin-left: 20px;
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 24px;
        text-align: center;
        background: darken($green, 10);
        font-weight: 700;
        cursor: pointer;
        border-radius: 3px;
        display: none;
    }
}